<%- include('partials/header.ejs') %>

<p>
    <%= campground.name %>
</p>

<img src=" <%= campground.image %> " alt="Picture">
<p>
    <%= campground.discription %>
</p>

<%- include('partials/footer.ejs') %>